--index-url https://download.pytorch.org/whl/cu126
torch
torchvision
torchaudio

--extra-index-url https://pypi.org/simple
numpy
diffusers
transformers
accelerate
safetensors
datasets
matplotlib
mario-gpt
cmaes
timm==0.9.12

git+https://github.com/williamsr03/LodeRunner.git@Reid#egg=LodeRunner